body {
	margin:0;
	background-color:#000;
}

#wrapper {
	max-width:960px;
	width:90%;
	margin:0 auto;
	color:#616596;
}

.grid {
	display:flex;
	flex-wrap:wrap;
}

.element {
	max-width:160px;
	width:100%;
	margin:15px;
	height:140px;
	background:linear-gradient(#2c778d 80%, #fff 20%);
	border-radius:10px;
	border:1px solid black;
	box-shadow:3px 3px #bbbbbb;
	position:relative;
}

.text {
	color:#80b691;
}

img {
	width:140px;
	height:140px;
}

.element>p {
	position:absolute;
	top:75%;
	left:25%;
}

.element>img {
	position:absolute;
	top:-5%;
	left:5%;
}

